.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.service-card {
    background-color: #fdb8ba;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.service-icon img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.service-card h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

.view-more {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.service-card:hover .view-more {
    transform: translateY(0);
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.5px);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    animation: none; /* Will be dynamically applied */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s ease; /* Smooth transition for animation */
    width: 250px; /* Adjust this to control the width */
    height: 200px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .services-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
